<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.enzoterra.travelseller">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditarViagem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlterarIntegrantes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContinuacaoCadastroFinal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaPessoas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContinuacaoCadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Estatisticas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaViagens"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".NotificationCreator" />
    </application>

</manifest>